<!--<div class="rightBottom">-->
<!--<h2 class="tit">全部用户维护</h2>-->
<div class="infor maintain">
    <table>
        <thead></thead>
        <tbody>
        <tr>
            <td>
                <div class="ui-form-item">
                    <label for="" class="ui-label">表单项本</label>
                    <input class="ui-input"type="text">
                </div>
            </td>
            <td>
                <div class="ui-form-item">
                    <label for="" class="ui-label">表单项本</label>
                    <input class="ui-input"type="text">
                </div>
            </td>
             <td>
                <div class="ui-form-item">
                    <label for="" class="ui-label">表单项本</label>
                    <input class="ui-input"type="text">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="ui-form-item">
                    <label for="" class="ui-label">表单项本</label>
                    <input class="ui-input"type="text">
                </div>
            </td>
            <td>
                <div class="ui-form-item">
                    <label for="" class="ui-label">表单项本</label>
                    <input class="ui-input"type="text">
                </div>
            </td>
            <td>
                <div class="ui-form-item">
                    <label for="" class="ui-label">表单项本</label>
                    <input class="ui-input"type="text">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="ui-form-item">
                    <label for="" class="ui-label">表单项本</label>
                    <input class="ui-input"type="text">
                </div>
            </td>
            <td>
                <div class="ui-form-item">
                    <label for="" class="ui-label">表单项本</label>
                    <input class="ui-input"type="text">
                </div>
            </td>
             <td>
                 <div class="ui-form-item">
                    <input type="submit" class="ui-button ui-button-morange"value="查询">
                    <input type="button" class="ui-button ui-button-mwhite"value="重置">
                </div>
             </td>
      </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
            <!--<ul>
        <li><b>用户简称：</b><span><input class="input" /></span></li>
        <li><b>用户名称：</b><span><input class="input" /></span></li>
        <li><b>创建时间：</b><span><input class="input" /></span></li>
        <li><b>修改时间：</b><span><input class="input" /></span></li>
        <li class="one checkbtn">
        <a href="#" class="btn2"><span class="w110">查询</span></a>
        <a href="#" class="btn2"><span class="w110">创建</span></a>
        </li>
    </ul>-->
        </div>
        <div class="infor buttons"></div>
        <div class="maintainlist">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <td>用户ID</td>
                        <td>用户名称</td>
                        <td>用户简称</td>
                        <td>创建时间</td>
                        <td>用户地址</td>
                        <td>联系人姓名</td>
                        <td>联系电话</td>
                        <td>邮箱</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="page">
        	<p class="number">显示
                <select class="select">
                    <option>20</option>
                </select>条，  共<span>43</span>条
            </p>
            <p class="nextpage"><!--不可点击时都加上样式gray-->
            	<a href="#" class="first gray">&nbsp;</a>
            	<a href="#" class="prev gray">&nbsp;</a>
            	<a href="#" class=" gray">1</a>
            	<a href="#" class="">2</a>
            	<a href="#" class="">...</a>
            	<a href="#" class="">3</a>
            	<a href="#" class="next">&nbsp;</a>
            	<a href="#" class="last">&nbsp;</a>
            	<a href="#" class="certificate"><input></a>
            </p>
        </div>
        <!--</div>-->
