<div id="tab">
    <ul class="ui-switchable-nav">
        <!--<li class="ui-switchable-trigger ui-switchable-active">用户信息<button class="close">&times;</button></li>
        <li class="ui-switchable-trigger" >标题 B</li>
        <li class="ui-switchable-trigger" >标题 B</li>
        <li class="ui-switchable-trigger" >标题 B</li>-->
    </ul>
    <div class="ui-switchable-content">
        <!--<div class="rightBottom">
        </div>-->
    </div>
</div>
<p class="copyright">Copyright ?2015 XXXX信息技术有限公司 All Rights Reserved. </p>
