#tab {
	font: 12px/1.5 Microsoft YaHei,'Xin Gothic', 'PT Sans', 'Hiragino Sans GB',
		'Helvetica Neue', Helvetica, Arial, sans-serif;
	position: relative;
	/*width: 750px;
	padding-top: 29px;*/
}

#tab .ui-switchable-nav {
	position: relative;
	top: 2px;
	margin: 0;
	padding: 0;
	z-index: 1;
	list-style: none;
	width:100000px;
	border-bottom:1px solid #AEC7E5;
	height:30px;
}
.iconfont.iconLeft,.iconfont.iconRight{
	cursor:pointer;
	font-weight:bold;
}
#tab .ui-switchable-nav li {
	float: left;
	width: 130px;
	height: 29px;
	line-height: 21px;
	text-align: center;
	background: url(assets/tabs-sprite.gif) no-repeat 0 6px;
	margin-right: 3px;
	padding-top: 8px;
	cursor: pointer;
	list-style: none;
}

#tab .ui-switchable-nav .ui-switchable-active {
	background-position: 0 -40px;
}

#tab .ui-switchable-content {
	position: relative;
	padding: 0px 20px 0px 20px;
/* 	border-top: 1px solid #AEC7E5; */
}

#tab .ui-min-form-item {
	padding:8px 5px 8px 110px;width: 25%;
}

#tab .close {
    display:inline-block;
    margin-right:5px;
    float:right;
}

#tab .ui-select {
	width: 148px;
}
#tab .ui-form-item.buttonAuto{
    width:auto;
    text-align:right;
    float: right;
}
#tab .maintainlist {
	overflow: auto;min-height: 31px;
	/*height: 189px;*/
	border:1px solid #d7d7d7;
}
.backgrid td{ text-align:center;}
